<section class="container d-flex flex-column flex-md-row px-2 my-2 my-md-2">
    <div class="content col-12 col-md-12 col-lg-8 p-0 pr-md-3">
        <div class="col-12 p-0 main-preview mb-4">
            <% if @listing.picture.attached? %>
            <%= image_tag @listing.picture, class: "thumbnail card-img top", alt: @listing.title %>
            <% else %>
            <%= image_tag "toy-car.jpg", class: "thumbnail card-img top", alt: "toy car" %>
            <% end %>
        </div>
    </div>
    <div class="sidebar col-lg-4 p-0 mx-2 d-md-block">
        <h1 class="mb-sm-2 mb-md-5"><%= @listing.title %></h1>

        <h2 class="mb-2">Category: <%= @listing.category.name %></h2>

        <% @listing.features.each do |feature| %>
        <span class="badge rounded-pill bg-info"><%= feature.name %></span>
        <% end %>

        <h4 class="text-muted mb-3">Condition: <%= format_condition(@listing.condition) %></h4>

        <h5 class="text-muted mb-3">Price: <%= format_price(@listing.price) %></h5>

        <p><%= @listing.description %></p>

        <% if current_user && @listing.sold == false %>
        <button class="btn btn-primary mb-3 pr-2" data-stripe="payment">Buy:
            <%= format_price(@listing.price) %></button>
        <% elsif @listing.sold %>
        <button class="btn btn-secondary" disabled>SOLD</button>
        <% else %>
        <%= button_to "Login to buy", new_user_session_path, class: "btn btn-info" %>
        <% end %>

        <div class="container">
            <% if current_user && current_user.id == @listing.user_id %>
            <div class="d-flex justify-content-equally">
                <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-warning me-2" %>
                <%= button_to "Delete", {action: "destroy", id: @listing.id}, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-danger" %>
            </div>
            <% end %>
        </div>
    </div>

</section>

<%# when button is clicked -> redirect to the session that corresponds with the session id %>
<script src="https://js.stripe.com/v3/"></script>
<script>
    document
        .querySelector("[data-stripe='payment']") // => find button
        .addEventListener("click", () => {
            const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key)%>");
            stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
            })
        }) // listening for click event
</script>